@model IEnumerable<AgendaMVC.Models.Contato>
@{
	ViewData["title"] = "Contatos";
}
 <h1 class="text-center">@ViewData["title"]</h1>
 <p>
	 <a asp-action="Create">Criar</a>
 </p>

 <table class="table">
	 <thead>
		 <tr>
			<th>@Html.DisplayNameFor(model => model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.Nome)</th>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>@Html.DisplayNameFor(model => model.Telefone)</th>
		 </tr>
	 </thead>
	 <tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(model => item.Id)</td>
				<td>@Html.DisplayFor(model => item.Nome)</td>
				<td>@Html.DisplayFor(model => item.Email)</td>
				<td>@Html.DisplayFor(model => item.Telefone)</td>
				<td>
					@Html.ActionLink("Editar", "Editar", new { id = item.Id}) |
					@Html.ActionLink("Detalhes", "Detalhes", new {id = item.Id}) |
					@Html.ActionLink("Deletar", "Deletar", new {id = item.Id})
				</td>
			</tr>
		}
	</tbody>
 </table>